Canvas {
    background-color: transparent;
    outline-color: transparent;
    background-image: url("/home/cristian/.lestim/background.jpg");
}

DesktopArea.cell:selected, DesktopArea.cell:selected:focus {
    background-color: transparent;

    border-style: solid;
    border-radius: 150px;
    border-width: 120px;
    border-color: alpha (#025, 0.50);

    outline-color: transparent;
}

DesktpArea.cell:selected:focus {
    background-color: transparent;
    color: #FFFFFF;
}

DesktopArea:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    outline-color: transparent;
}

DesktopArea:backdrop:selected {
    background-color: @theme_unfocused_selected_bg_color;
    color: @theme_unfocused_selected_fg_color;
    outline-color: transparent;
}

DesktopArea {
    background-color: transparent;
}

DesktopPanel {
    background-color: alpha(#000, 0.50);
}

DesktopPanel GtkLabel {
    color: #FFF;
}

DesktopPanel GtkButton, FavouriteApplicationsButton {
    border-image: none;
    background-image: none;
}

DesktopPanel GtkButton:hover {
    background-color: alpha(#000, 0.20);
}

FavouriteApplicationsButton:hover {
    background-color: alpha(#FFF, 0.15);
}
