LestimWindow {
    background-color: transparent;
    background-image: url('./background');
    background-repeat: no-repeat;
}

CanvasVBox, CanvasHBox {
	background-color: transparent;
}

GtkIconView {
	background-color: alpha(#000, 0.0);
}


GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #d3d7cf;
}

WorkArea:backdrop:selected {
    background-color: #d3d7cf;
    color: #d3d7cf;
    outline-color: #d3d7cf;
}

IndicatorsArea {
	background-color: alpha(#000, 0.4);
    border-width: 0px;
}

IndicatorsArea > GtkButton {
	background-color: alpha(#000, 0.25);
	border-image: none;
    background-image: none;
    color: #FFFFFF;
}

LateralPanel > GtkVBox {
	background-color: alpha(#000, 0.50);
}

.scale {
     -GtkScale-slider-length: 15px; /* x del circulito para desplazar*/
     -GtkRange-slider-width: 20px; /* y del circulito para desplazar*/
     -GtkRange-trough-border: 3px;
}

.scrollbar {
 	-GtkScrollbar-has-backward-stepper: 10;
 	-GtkScrollbar-has-forward-stepper: 10;
 	background-color: #0971B2;
 	background-image: none;
 	border-width: 10px;
 	border-radius: 5px;
}

AppButton,
PanelAppsButton,
OpenedAppButton,
ShutdownButton,
RebootButton,
LockButton,
SettingsButton {
	background-color: alpha(#000, 0.50);
	border-image: none;
    background-image: none;
    border-radius: 10px;
    color: #FFFFFF;
}

AppButton:hover,
PanelAppsButton:hover,
OpenedAppButton:hover,
ShutdownButton:hover,
RebootButton:hover,
LockButton:hover,
SettingsButton:hover {
	background-color: alpha(#000, 0.25);
}

AppButtonPopover, PanelAppsButton {
	background-color: alpha(#000, 0.50);
	border-color: alpha(#000, 0.75);
	border-width: 2px;
	color: #FFF;
}

AppsEntry {
	background-color: alpha(#000, 0.25);
	background-image: none;
	border-image: none;
	border-color: alpha(#000, 0.75);
	border-radius: 25px;
	border-width: 5px;
	font-size: 20px;
	color: alpha(#FFF, 0.75);
}

CalendarButton {
    border-width: 0px;
    background-image: none;
}
