/*
Created by Cristian García <cristian99garcia@gmail.com>
Based on: Numix Frost Dark
*/
/*
@define-color bg_color #161616;
@define-color focus_color #242424;
@define-color text_color #DEDEDE;
@define-color selected_bg_color #1a80b6;
@define-color selected_fg_color #F9F9F9;
*/
LestimPanel {
    background-color: #161616;
    border-width: 1px;
    border-radius: 2px;
}

PanelButton {
    background-color: #161616;
    border-color: #161616;
}

PanelButton:focus {
    border-color: #1a80b6;
}

AppsView {
    background-color: #161616;
}

AppButton {
    background-color: #161616;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
}

AppsEntry {
    padding: 4px 3px;

    background-color: #161616;
    background-image: none;
    color: #DEDEDE;

    border-style: solid;
    border-color: #161616;
    border-radius: 2px;
    border-width: 1px;

    font-size: 22px;
}

AppsEntry:focus, AppsEntry:active {
    border-color: shade(#161616, 0.7);
}

AppsEntry:selected, AppsEntry:selected:focus {
    /*background-color: @theme_selected_bg_color;*/
    color: #F9F9F9;
}

LateralPanel {
    background-color: #161616;
}

CalendarItem {
    background-color: #161616;
}

CalendarItem:focus {
    background-color: #242424;
}

GtkCalendar {
    padding: 4px;
    outline-offset: -1px;
}

GtkCalendar:inconsistent {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

Calendar.view,
Calendar.header,
Calendar.button,
Calendar.button:hover,
Calendar.button:insensitive {
    border-width: 0;
    background-color: transparent;
    background-image: none;
}

.highlight,
Calendar.highlight {
    border-width: 0;
    background-color: transparent;
    color: #1a80b6;
}

VolumeScale {
}

VolumeScale.slider {
}

BrightnessScale {
}

