/*
Created by Cristian García <cristian99garcia@gmail.com>
Based on: Numix Frost Dark
*/

@define-color bg_color #161616;
@define-color focus_color #242424;
@define-color text_color #DEDEDE;
@define-color selected_bg_color #1a80b6;
@define-color selected_fg_color #F9F9F9;


LestimWindow {
    background-image: url('./background');
    background-repeat: no-repeat;
}

LestimCanvas {
    background-color: transparent;
}

LestimPanel {
    background-color: @bg_color;
    border-width: 1px;
    border-radius: 2px;
}

PanelButton {
    background-color: @bg_color;
    border-color: @bg_color;
}

PanelButton:focus {
    border-color: @selected_bg_color;
}

AppsView {
    background-color: @bg_color;
}

AppButton {
    background-color: @bg_color;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
}

AppsEntry {
    padding: 4px 3px;

    background-color: @bg_color;
    background-image: none;
    color: @text_color;

    border-style: solid;
    border-color: @bg_color;
    border-radius: 2px;
    border-width: 1px;

    font-size: 22px;
}

AppsEntry:focus, AppsEntry:active {
    border-color: shade(@bg_color, 0.7);
}

AppsEntry:selected, AppsEntry:selected:focus {
    background-color: @theme_selected_bg_color;
    color: @selected_fg_color;
}

LateralPanel {
    background-color: @bg_color;
}

CalendarItem {
    background-color: @bg_color;
}

CalendarItem:focus {
    background-color: @focus_color;
}

GtkCalendar {
    padding: 4px;
    outline-offset: -1px;
}

GtkCalendar:inconsistent {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

Calendar.view,
Calendar.header,
Calendar.button,
Calendar.button:hover,
Calendar.button:insensitive {
    border-width: 0;
    background-color: transparent;
    background-image: none;
}

.highlight,
Calendar.highlight {
    border-width: 0;
    background-color: transparent;
    color: @selected_bg_color;
}

VolumeScale {
}

VolumeScale.slider {
}

BrightnessScale {
}

PowerButton {
    border-width: 1px;
    border-radius: 2px;

    background-color: @bg_color;
    background: @bg_color;
    border-color: shade(@bg_color, 0.7);
}

PowerButton:active {
    background-color: shade(@bg_color, 0.7);
}

/*
GtkPopover {
    margin: 10px;
    padding: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    background-clip: border-box;
    background-image: none;
    color: #212121;
    box-shadow: 0 2px 3px alpha(black, 0.5);
}

GtkPopover.background {
    background-image: none;
    background-color: #262626;
}

GtkPopover .list-row {
    color: #2d2d2d;
}

GtkPopover .list-row:hover {
    background-image: none;
    background-color: #1A80B6;
    color: #F9F9F9;
}

GtkPopover .frame {
    border: 1px solid mix(#2d2d2d, #dcdcdc, 0.12);
    border-radius: 2px;
}

GtkPopover .separator {
    border: 0;
    background-color: transparent;
    color: alpha(currentColor, 0.1);
    font-size: 80%;
    font-weight: bold;
}

WorkArea:backdrop:selected {
    background-color: #D3D7CF;
    color: #D3D7CF;
    outline-color: #D3D7CF;
}

AppsView {
    border-radius: 4px;
}

ShutdownButton, RebootButton, LockButton, SettingsButton {
    background-color: #101010;
    border-radius: 10px;
    border-color: #080808;
}

ShutdownButton:hover, RebootButton:hover, LockButton:hover, SettingsButton:hover {
    background-color: #080808;
}

AppButton, PanelAppsButton, OpenedAppButton, #ShowPanelButton {
    background-color: alpha(#000000, 0.25);
    border-radius: 2px;
    border-color: #212121;
}

AppButton, PanelAppsButton, OpenedAppButton, ShutdownButton, RebootButton,
LockButton, SettingsButton, GtkButton#ShowPanelButton {
    border-image: none;
    background-image: none;
}

AppButton:hover, PanelAppsButton:hover, OpenedAppButton:hover, GtkButton#ShowPanelButton:hover {
    background-color: alpha(#000000, 0.40);
}

GtkLabel#AppButtonLabel {
    color: #BBBBBB;
}

AppsEntry {
    background-color: alpha(#202020, 0.30);
    background-image: none;
    border-radius: 4px;
    border-width: 0px;
    border-style: none;
    font-size: 20px;
    color: #BBBBBB;
}

#TimeLabel, #DayLabel {
    color: #BBBBBB;
}

#TimeLabel {
    font: Bold 40;
}

#DayLabel {
    font-size: 15px;
}

LateralCalendar {
    padding: 4px;
    outline-offset: -1px;
}
//
LateralCalendar:inconsistent {
    color: mix(#DCDCDC, #2D2D2D, 0.5);
}

GtkCalendar.view,
GtkCalendar.header,
GtkCalendar.button,
GtkCalendar.button:hover,
GtkCalendar.button:insensitive {
    border-width: 0;
    background-color: transparent;
    background-image: none;
}

.highlight,
GtkCalendar.highlight {
    border-width: 0;
    background-color: transparent;
    color: #1A80B6;
}

GtkCalendar.button {
    border-style: none;
    background-color: transparent;
    background-image: none;
}
*/
